<!DOCTYPE html>
<html lang="en">
	<head>
      <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
      <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
      <link href="css/social-buttons.css" rel="stylesheet">
      <link href="css/style.css" rel="stylesheet">
        </head>
        <body ng-app="Todo">
            <div class="container">
              <div class="navbar navbar-inverse" ng-controller="HeaderCtrl">
                <div  class="navbar-header">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                  <div ng-show="!loggedIn()">
                    <a class="navbar-brand" href="#">Baasbox Diary</a>
                  </div>
                  <div ng-show="loggedIn()">
                    <a class="navbar-brand" ng-click="linkAccount()" href="">Hello {{username()}}</a>
                  </div>
                </div>
                <div class="collapse navbar-collapse">
                  <div data-ng-show="loggedIn()"> 
                    <ul class="nav navbar-nav pull-right">
                      <li><a ng-click="goTo('/posts')" >Your posts</a></li>
                      
                      <li><a ng-click="logout()" >Logout</a></li>
                    </ul>
                  </div>
                  <div data-ng-show="!loggedIn()" class="btn-group pull-right login-buttons">
                      <button class="btn btn-facebook btn-sm" href="#" ng-click="facebooklogin(false)">
                        <i class="icon-facebook"></i> | Login with facebook </button>
                      <button href="#" ng-click="googlelogin(false)" class="btn btn-sm btn-google-plus"><i class="icon-google-plus"></i> | Login with google+</button>
                  </div>
                </div><!--/.nav-collapse -->
              </div>
          <div ng-view />
        </div>
          <div id="fb-root"></div>

		
    
    

  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>     
  <script src="//code.angularjs.org/1.1.5/angular.min.js"></script>
  <script src="//code.angularjs.org/1.1.5/angular-resource.min.js"></script>
  <script src="//code.angularjs.org/1.1.5/angular-cookies.min.js"></script>
  <script src="js/app/app.js"></script>     
          
  <script>
    $(document).ready(function() {
      $.ajaxSetup({ cache: true,beforeSend: function (xhr){ 
      xhr.setRequestHeader('X-BAASBOX-APPCODE', '1234567890');
    } });
});
  </script>
  
        </body>
</html>
